\#*
*.elc
.clover
.dap-breakpoints
.lsp-session-v1
.cache/
url/
var/
edts/
elpa/
crown/
games/
export/
elnode/
eshell/
my-org/
request/
transient/
org-files/
eln-cache/
semanticdb/
auto-save-list/
mastodon.plstore
history
recentf