\#*
*.elc
.clover
.clover~
.dap-breakpoints
.mc-lists.el
.cache/
url/
var/
edts/
elpa/
emms/
crown/
games/
export/
elnode/
eshell/
server/
my-org/
request/
transient/
org-files/
org-persist/
eln-cache/
semanticdb/
auto-save-list/
mastodon.plstore
history
recentf
